node_modules
.pnpm-store
.pnpm-debug.log*

dist
build
.next
.turbo
coverage

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.log
.DS_Store
Thumbs.db

apps/api/prisma/migrations/dev.db*
*.tsbuildinfo
